.login,
.register,
.resetpassword {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #00bfff4d;
  background-image: url('../images/login.jpg');
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  color: #333;
  min-height: 100vh;
  padding-left: 10%;
}

.login {
  align-items: center;
}

.register {
  align-items: flex-end;
  padding-bottom: 30%;
}

.profile {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #ffffff4d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #333;
  min-height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container {
  padding: 20px;
  flex: 1;
}

.image-container {
  display: none;
}

@media (max-width: 768px) {
  .login,
  .register,
  .resetpassword {
    flex-direction: column;
    padding: 20px;
    background-position: center;
    justify-content: center;
  }

  .container {
    flex-direction: column;
    max-width: 100%;
  }
}
